*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.top-nav {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 0.5px solid gray;
  height: 2rem;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 2px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.logo {
  margin: 0 auto 0 auto;
  padding: 0;
  text-align: center;
  width: 12rem;
  margin-left: 28rem;
}

.move {
  margin: 0 20px 0 0;
}

.move1 {
  margin-right: 2rem;
}

.top-nav > a {
  color: #000;
}

.top-main {
  padding-top: 10px;
}

.first-article {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.top-links {
  width: 40%;
  margin: 0 auto;
  padding: 15px 0;
  color: #000;
}

.top-links > a {
  font-size: 20px;
  margin-left: 20px;
  color: #000;
}

figure {
  margin-top: 23px;
  margin-left: 20vw;
  width: 60vw;
}

.top-image {
  width: 100%;
  cursor: pointer;
}

figure figcaption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.article1 {
  width: 600px;
  margin: 0 auto 1.25rem;
  color: #121212;
  font-family: Helvetica, Arial, sans-serif;
}

.article2 {
  font-size: 13px;
  margin-bottom: 0.5rem;
}

.article3 {
  width: 100%;
  margin-bottom: 2rem;
  font-size: 15px;
}

.article4 {
  display: inline-block;
}

.article4 > a {
  text-decoration: underline;
  color: #000;
}

.main-article2 {
  width: 650px;
  margin-left: 28rem;
  margin-right: 0;
  font-size: 20px;
}

.advert1 {
  margin-top: 3rem;
  padding: 1rem 0 1.875rem;
  text-align: center;
  width: 100%;
  background-color: #fcf5f5;
  border-bottom: 0.5px solid #ccc;
  border-top: 5px solid #ccc;
}

.advert2 {
  margin-bottom: 15rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 9px;
  color: #ccc;
}

.main-article3 {
  width: 1600px;
  margin: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.main-article4 {
  width: 650px;
  margin-top: 5rem;
  margin-left: 28rem;
  margin-right: 0;
  font-size: 20px;
}

.main-article5 {
  width: 650px;
  margin-top: 4rem;
  margin-left: 37rem;
  margin-right: 0;
  font-size: 20px;
}

.main-article5 > p {
  font-size: 14px;
  font-weight: bold;
}

.main-article6 {
  font-size: 14px;
  font-weight: bold;
  margin-left: 1.4rem;
  color: rgb(55, 55, 177);
}

.main-article7 {
  width: 1600px;
  margin: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.main-article8 {
  width: 650px;
  margin-top: 5rem;
  margin-left: 28rem;
  margin-right: 0;
  font-size: 20px;
}

.advert3 {
  margin-top: 3rem;
  padding: 1rem 0 1.875rem;
  text-align: center;
  width: 100%;
  background-color: #fcf5f5;
  border-bottom: 0.5px solid #ccc;
  border-top: 5px solid #ccc;
}

.advert4 {
  margin-bottom: 15rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 9px;
  color: #ccc;
}

.main-article9 {
  width: 1600px;
  margin: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.main-article10 {
  width: 650px;
  margin-top: 5rem;
  margin-left: 28rem;
  margin-right: 0;
  font-size: 20px;
}

.the-inflation {
  width: 1600px;
  margin: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.the-inflation1 {
  width: 900px;
  margin-top: 2rem;
  margin-left: 23rem;
  margin-right: 0;
  font-size: 20px;
  margin-bottom: 0;
}

.the-inflation1 > p {
  color: gray;
  font-size: 15px;
  margin-top: 0;
}

.move-all {
  font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
  position: relative;
  width: 60%;
  margin-left: 15rem;
}

.move-all img {
  position: relative;
  width: 100%;
}

.move-all .before {
  position: absolute;
  width: 228px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.move-all > p {
  font-weight: bold;
  font-size: 11px;
  line-height: 1;
}

.before.one {
  top: 24.8264%;
}

.before.two {
  top: 24.8264%;
  left: 25.5619%;
}

.before.three {
  top: 24.8264%;
  left: calc(25.5619% * 2);
}

.before.four {
  top: 24.8264%;
  left: calc(25.5619% * 3);
}

.before.five {
  top: calc(24.8264% * 3);
}

.before.six {
  top: calc(24.8264% * 3);
  left: calc(25.5619% * 1);
}

.before.seven {
  top: calc(24.8264% * 3);
  left: calc(25.5619% * 2);
}

.before.eight {
  top: calc(24.8264% * 3);
  left: calc(25.5619% * 3);
}

.center-one {
  margin-top: 2rem;
}

.add-border {
  display: inline-block;
  margin-left: 15rem;
  width: 3rem;
  height: 1px;
  margin-bottom: 13px;
  background-color: #000;
}

.center-one p {
  margin-bottom: 1rem;
  margin-left: 15rem;
}

.doc p {
  width: 40%;
  margin-left: 24rem;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem;
}

.advert33 {
  margin-top: 3rem;
  padding: 1rem 0 1.875rem;
  text-align: center;
  width: 100%;
  background-color: #fcf5f5;
  border-bottom: 0.5px solid #ccc;
  border-top: 5px solid #ccc;
}

.advert44 {
  margin-bottom: 15rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 9px;
  color: #ccc;
}

.main-article77 {
  width: 1600px;
  margin: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.main-article88 {
  width: 650px;
  margin-top: 5rem;
  margin-left: 28rem;
  margin-right: 0;
  font-size: 20px;
}

.the-video {
  margin-left: 10rem;
}

.confused1 {
  width: 1600px;
  margin: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.confused2 {
  width: 650px;
  margin-top: 5rem;
  margin-left: 28rem;
  margin-right: 0;
  font-size: 20px;
}

.confused-advert1 {
  margin-top: 3rem;
  padding: 1rem 0 1.875rem;
  text-align: center;
  width: 100%;
  background-color: #fcf5f5;
  border-bottom: 0.5px solid #ccc;
  border-top: 5px solid #ccc;
}

.confused-advert2 {
  margin-bottom: 15rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 9px;
  color: #ccc;
}

.mag1 {
  width: 1600px;
  margin: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.mag2 {
  width: 650px;
  margin-top: 5rem;
  margin-left: 28rem;
  margin-right: 0;
  font-size: 20px;
}

.spiral-ad1 {
  margin-top: 3rem;
  padding: 1rem 0 1.875rem;
  text-align: center;
  width: 100%;
  background-color: #fcf5f5;
  border-bottom: 0.5px solid #ccc;
  border-top: 5px solid #ccc;
}

.spiral-ad2 {
  margin-bottom: 15rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 9px;
  color: #ccc;
}

.south {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  justify-content: center;
  line-height: 2rem;
  margin-top: 15px;
  margin-left: 32rem;
}

.fig-2 {
  width: 80%;
  margin-left: 5rem;
  cursor: pointer;
}

.fig-3 {
  margin-left: 5rem;
}

.special-time1 {
  width: 1600px;
  margin: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.special-time2 {
  width: 650px;
  margin-top: 5rem;
  margin-left: 28rem;
  margin-right: 0;
  font-size: 20px;
  line-height: 2rem;
}

.special-time {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.advert-special1 {
  margin-bottom: 2rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 9px;
  color: #ccc;
}

.advert-special2 {
  margin-top: 1rem;
  padding: 1rem 0 1.1rem;
  text-align: center;
  width: 100%;
  background-color: #fcf5f5;
  border-bottom: 0.5px solid #ccc;
  border-top: 5px solid #ccc;
}

.pysics1 {
  width: 1600px;
  margin: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.pysics2 {
  width: 650px;
  margin-top: 5rem;
  margin-left: 28rem;
  margin-right: 0;
  font-size: 20px;
  line-height: 2rem;
}

.make-ad1 {
  margin-top: 3rem;
  padding: 1rem 0 1.875rem;
  text-align: center;
  width: 100%;
  background-color: #fcf5f5;
  border-bottom: 0.5px solid #ccc;
  border-top: 5px solid #ccc;
}

.make-ad2 {
  margin-bottom: 15rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 9px;
  color: #ccc;
}

.trace1 {
  width: 1600px;
  margin: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.trace2 {
  width: 650px;
  margin-top: 5rem;
  margin-left: 28rem;
  margin-right: 0;
  font-size: 20px;
  line-height: 2rem;
}

.base1 {
  width: 1600px;
  margin: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.base2 {
  margin-left: 28rem;
  font-size: 13px;
  color: gray;
}

.join {
  margin-top: 15px;
  display: flex;
  margin-left: 28rem;
  padding-top: 9px;
}

.btn {
  font-size: 20px;
  margin-right: 5rem;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #ccc;
  color: #fff;
  border-radius: 0;
}

.fbe {
  margin-left: 20px;
}

.last-ad1 {
  margin-top: 3rem;
  padding: 1rem 0 1.875rem;
  text-align: center;
  width: 100%;
  background-color: #fcf5f5;
  border-bottom: 0.5px solid #ccc;
  border-top: 5px solid #ccc;
}

.last-ad2 {
  margin-bottom: 15rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 9px;
  color: #ccc;
}

.run1::before {
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
  border-top: 2px solid #e2e2e2;
  content: '';
  display: block;
  height: 4.5px;
  margin-top: 0;
}

.run1 {
  padding: 0 3rem;
}

.run2 {
  display: flex;
}

.run2 .run3 {
  margin: 1.125rem 0 0 auto;
}

.run3 .run4 {
  color: rgb(86, 123, 149);
  font-family: 'Libre Franklin', helvetica, arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  text-decoration: none;
}

.run5 {
  display: inline-flex;
  gap: 3rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.run6,
.run7 {
  font-family: 'Libre Franklin', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625;
  margin-top: 1rem;
}

.run5 .run6 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 3rem;
}

.run6 > ul > p,
.run7 > ul > p {
  font-size: 13px;
  font-weight: 700;
  color: rgb(51, 51, 51);
  margin-bottom: 0.625rem;
}

.run5 .run7 {
  padding-left: 1rem;
  border-left: 1px solid rgb(226, 226, 226);
}

.run5 .run7 .run8 {
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-right: 7px;
  vertical-align: middle;
}

.spin1 .spin2 ul,
.run5 .run7 ul:nth-child(2),
.all-links .subscribe ul:nth-child(3) {
  font-size: 11px;
  padding-top: 1rem;
  line-height: 2.1;
}

.spin1 .spin2 ul > li,
.run5 .run7 ul:first-child > li {
  font-size: 16px;
  font-weight: 700;
  padding: 0 0.325rem;
}

.run5 .run7 ul:nth-child(3) {
  border-top: 1px solid rgb(226, 226, 226);
  margin-bottom: 1rem;
}

nav.spin1 {
  margin: 0 3rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

.spin1 .spni2 {
  display: inline-block;
}

.run6 a:hover,
.run7 a:hover,
.spin2 a:hover,
.spin1 .spin2 ul > li > a {
  padding: 0.5625rem 0;
  font-family: 'Libre Franklin', helvetica, arial, sans-serif;
  font-size: 11px;
  font-weight: 300;
  color: #666;
  text-decoration: underline;
}
